aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
defusedxml
distro
faiss-cpu
filelock
Flask
fonttools
fpdf
fpdf2
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
httpcore
httpx
httpx-sse
idna
itsdangerous
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-ollama
langchain-openai
langchain-text-splitters
langsmith
llvmlite
lxml
MarkupSafe
marshmallow
more-itertools
mpmath
multidict
mypy-extensions
narwhals
networkx
numba
numpy
ollama
openai
openai-whisper
orjson
packaging
pandas
pillow
propcache
protobuf
pyarrow
PyAudio
pydantic
pydantic-settings
pydantic_core
pydeck
pypdf
PyPDF2
python-dateutil
python-docx
python-dotenv
pyttsx3
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rpds-py
setuptools
six
smmap
sniffio
SpeechRecognition
SQLAlchemy
streamlit
sympy
tenacity
tiktoken
toml
torch
tornado
tqdm
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
wheel
yarl
zstandard
